<h1>Trips</h1>

<form method="post" action="/save_attributes">
  <p>
    <input type="text" name="country" size="50">
	country
  </p>
  
  <p>
    <input type="text" name="image" size="50">
	Image URL
  </p>

  <p>
    <input type="text" name="article_h" size="50">
	Article header
  </p>
      
  <textarea name="article_b" rows="5" cols="38">
  </textarea>
	Article body

	<input type="submit">
</form>