<h1>Add a New Entry</h1>

<form method="post" action="/save_attributes">
  <p>
    <input type="text" name="title" size="50">
	Title
  </p>
  
  <p>
    <input type="text" name="add URL" size="50">
	Image
  </p>

  <textarea name="article_h" rows="5" cols="38">
  </textarea>
    Article header
  
  </br>
  
  <textarea name="article_b" rows="5" cols="38">
  </textarea>
	Article body
  
  <p>
    <input type="text" name="wiki_h" size="50">
	Wiki header
  </p>
  
  <p>
  <textarea name="wiki_b" rows="5" cols="38">
  </textarea>
	Wiki body
	
    </br>
  
  <input type="submit">
</form>