<center><h1>My Travel Blog</h1></center>

<a href="/australia_trip">Australia</a>
<a href="/newzealand_trip">New Zealand</a>
<a href="/thailand_trip">Thailand</a>

<form method="get" action="/australia">
	<a href=<img src="http://www.sydney-australia.biz/western-australia/graphics/western-australia-kangaroo-beach.jpg" alt="Kangaroo" height=700px width=494px></a>
</form>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum.</p>

<form method="get" action="/new_zealand">
<href=<img src="http://www.allmedicaltourism.com/Articles/destinations/new-zealand/New_Zealand/images/new-zealand-green-_1112580c.jpg" alt="New Zealand Country Side" height=700px width=494px></a>
</form>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum.</p>

