<center><h1>My Travel Blog</h1></center>

<a href="/entry">MAKE BLOG</a>

<% @visits.each do |visit| %>

	<h1><%= visit.country %></h1>
  
	<img src=<%= visit.image %> alt="" height="42" width="42">
  
	<h3><%= visit.article_h %></h3>
  
	<p><%= visit.article_b %></p>
<% end %>